<div>
  <div class="col-sm-5">
    <div>
      <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc"> Filtro:</label>
      <input type="text" [(ngModel)]="filterSearch" class="form-control" name="filterDesc" id="filterDesc" placeholder="Filter...">
      <label class="col-form-label col-sm-5"> Filtrando por: {{filterSearch}}</label>
    </div>
  <div>
    <button type="button" class="btn btn-default" id="btn" (click)="orderFecha()">Orden por fecha </button>
    <button type="button" class="btn btn-default" id="btn" (click)="orderPrecio()">Orden por precio </button>
  </div>

</div>

<evento-add (newItemEvent)="addEvento($event)"></evento-add>


<evento-item class="row no-gutters" [eventos]="evento" *ngFor="let evento of misEventos | eventFilter: filterSearch | orderFilter: ordenar" (deleteEvent)="eliminarEvento(evento)"></evento-item>


